body {
  font-family: "Saira Condensed", sans-serif;
  position: relative;
  margin-top: 100px;
} 

.navbar {
  background: #fff;
  border-bottom: solid 1px #ffe140;
}

  .navbar .nav-item{
    font-size: 1.3rem;
    padding-right: 1.3rem; 
    text-transform: uppercase;
  }

  .navbar .nav-item .nav-link {
    color: #cfb739;
    font-weight: bold;
  }



#showcase {
  position: relative;
  background: url("../img/property-front.jpg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#handshake {
  position: relative;
  background: url("../img/handshake2.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#showcase a {
  margin-top: 30px;
}

#about {
  background-color: #ffe140;
}

#about, #team, #contact {
  padding: 140px 0 20px 0;
}

.accordion{
  padding: 15px 0 15px 0;
  width: 100%;
  margin: auto;
}

.card {
  margin: 15px;
  padding-bottom: 1px;
  cursor: pointer;
}

.info-header {
  width: 95%;
  margin: auto;
}

#team img {
  margin-top: -60px; 
}


#team .fab {
  color: #000; }

@media (max-width: 768px) {
  body {
    margin-top: 10px;
  }
  
  #showcase, #services #handshake {
    min-height: 500px; }
    #showcase h1, #services #handshake h1 {
      font-size: 2.5rem; }
    #showcase p, #services #handshake p {
      font-size: 0.9em;
    }  
    
  #showcase a {
    font-size: 0.8em;
  }  
.navbar img {
  height: 35px;
}

.navbar-toggler-icon{
  font-size: 15px;
}
ul li a {
  font-size: 13px;
  text-align: center;
}

#about h1, #services h1, #team h1 {
  font-size: 35px;
}

#about p, #services p, #team p {
  font-size: 16px;
}

  }

  .mb-resp {
    margin-bottom: 1rem; }
    
    
